@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme {
  --font-display: "Nunito", "sans-serif";
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-form: var(--form);
  --color-kanji-border: var(--kanji-border);
  --color-kanji-background: var(--kanji-background);
  --color-kanji-foreground: var(--kanji-foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

:root {
  --background: #FDFCF9;
  --foreground: #1B1B1F;

  --form: #FFFFFF;

  --card: #FFFFFF;
  --card-foreground: #2E2E33;

  --kanji-border: #DDD7C2;
  --kanji-background: #F7F4EC;
  --kanji-foreground: #4E3629;

  --popover: #FFFFFF;
  --popover-foreground: #2E2E33;

  --hover: #F0E3DC;

  --primary: #D26554; /* rojo suave y cálido */
  --primary-foreground: #FFFFFF;

  --secondary: #E3DACF;
  --secondary-foreground: #3C2C2A;

  --muted: #EDEAE4;
  --muted-foreground: #8A7F78;

  --accent: #B4576A;
  --accent-foreground: #44444A;

  --success: #A9D6B5;
  --success-foreground: #2F3B2F;

  --destructive: #E9A1A1;
  --destructive-foreground: #3D1F1F;

  --border: #DDD7C2;
  --input: #0000000d;
  --ring: #D26554;

  --sidebar: #F5F1EA;
  --sidebar-foreground: #3C2C2A;
  --sidebar-primary: #C5947D;
  --sidebar-primary-foreground: #FFF;

  --sidebar-accent: #E5B2A8;
  --sidebar-accent-foreground: #3C2C2A;
  --sidebar-border: #DDD7C2;
  --sidebar-ring: #D26554;
}

.dark {
  --background: #141314;
  --foreground: #F1EDEA;

  --form: #FFFFFF;

  --card: #1F1E1F;
  --card-foreground: #F1EDEA;

  --kanji-border: #3F3A36;
  --kanji-background: #252323;
  --kanji-foreground: #E5D6C7;

  --popover: #2B2A2B;
  --popover-foreground: #F1EDEA;

  --hover: #30282B;

  --primary: #D57268;
  --primary-foreground: #FAFAFA;

  --secondary: #3B3431;
  --secondary-foreground: #F1EDEA;

  --muted: #2F2B2A;
  --muted-foreground: #A8A19D;

  --accent: #D4798D;
  --accent-foreground: #F1EDEA;

  --success: #7CBF91;
  --success-foreground: #1F1E1F;

  --destructive: #C06C6C;
  --destructive-foreground: #F1EDEA;

  --border: #3A3633;
  --input: #FFFFFF1a;
  --ring: #D57268;

  --sidebar: #1C1B1B;
  --sidebar-foreground: #F1EDEA;
  --sidebar-primary: #B06B59;
  --sidebar-primary-foreground: #FDFCF9;

  --sidebar-accent: #3A3330;
  --sidebar-accent-foreground: #F1EDEA;
  --sidebar-border: #3A3633;
  --sidebar-ring: #D57268;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }
}
/*#ffb7c5*/
